{% extends "base.html" %}

{% block main %}
  <main>
    {{ section.content | safe }}
    <h2>Latest Posts</h2>
    {% set post_section = get_section(path="posts/_index.md") %}
    {% for post in post_section.pages %}
    <li>
      <span>
        <i>
          <time datetime='{{ post.date | date(format='%+') }}' pubdate>
            {{- post.date | date(format=config.extra.date_format) -}}
          </time>
        </i>
      </span>
      <a href="{{post.permalink}}">{{post.title}}</a>
    </li>
    {% endfor %}
    <a href="/posts">View all →</a>
  </main>
{% endblock %}